

body{
  font-family: 'Allerta', sans-serif;                      /*Tipo de letra*/
  margin: 0px;
}

table{
width: 100%;
}

th{
  background: #273b47;
  color: white;
  padding: 10px;
  text-align: left;
  padding: 10px 20px;
}

td{
  padding: 20px;
}

table, th, td{
  border: 1px solid #273b47;
  border-collapse: collapse;
}

input,textarea{
  outline: 0px;

}

input:focus,textarea:focus{
  background: lightgray;
}
.background{
  background-image: url("../Imagenes/background.png");     /*Imagen como fondo*/
  background-size: cover;
}

.contenedor{
  width: 800px;
  margin: auto;
  position: relative;
}

.titulo {
  font-size: 70px;                                       /*Tamaño de letra */
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  margin-top: 70px;
}
.titulo-a{
  font-size: 24px;
}

.title-b{
  font-size: 50px;
  margin-bottom: 20px;
}

.titulo span{
  text-decoration: underline;
}

.guitarras{
  color: #1F313C;                                          /*Color de letra*/
  margin-bottom: 60px;
}

.guitarras h2{
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.portada{
  /*background-image: url("../imagenes/background.png");     /*Imagen como fondo*/
  /*background-size: cover;*/
  color: white;
  padding: 20px;
  height: 500px;


}
.button{
  border-radius: 12px;
  border: none;
  background: #df324e;
  color: white;
  padding: 7px 12px;
  font-size: 18px;
  background: linear-gradient(to left,#fe344e, #ff7250);
  cursor: pointer;
  text-decoration: none;
}
.portada button{
  margin-bottom: 70px;
}

.menu{
  font-size: 24px;
  display: inline-block;

}

.menu li{
  display: inline-block;
  margin-left: 30px;
  color: blue;
}

.menu li:before{
  content: "∘";
  font-size: 50px;
  line-height: 20px;
  color: white;
}

.menu a{
  color: white;
  text-decoration: none;
}

.logotipo{
  display: inline-block;
  margin-left: 0;

}

.header{

  margin: auto;
}



.guitarra {
  margin: 10px 10px 40px 10px;
  padding: 10px;
  /*overflow: hidden;*/                                            /*Ajusta el tamaño de las intercecciones tomando el tamaño mayor para que no que desajustada*/
  border: 1px solid #1F313C;
  border-radius: 8px;
                                     /*Para marcar el margen del bloque*/
}

.guitarra ol{
  padding: 0px;
}

.guitarra.b{
  height: 190px;
}

.right{
  float: right;
  position: relative;
  top: -127px;                                             /*se utiliza para hacer flotar una clase y ponerla al gusto sin tener que mofidicar el codigo*/
}

.left{
  float: left;
  position: relative;

}
.contenedor-guitarra-a{
  padding-left: 20px;
}
.contenedor-guitarra-b{
  margin-left: 370px;
  position: relative;
  bottom: 90px;

}

.header{
  position: relative;
}

footer{
  background: #273b47;
  padding: 50px 10px;
}

.footer-precios{
  position: absolute;
  width: 100%;
  bottom: 0;
}

.contacto{
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;

}
.contacto a{
  color: white;
  text-decoration: none;
  margin: 10px 15px 10px 0px;
}

.contacto img{
  display: block;
  align-items: center;
}

.contacto strong{
  display: block;
}

footer .contenedor{
 display: flex;
 justify-content: space-between;
}

.formulario{
  display: flex;
  width: 400px;
  color:white;

}

.col1, .col2{
  display: flex;
  flex-direction: column;
}

.col1{
  margin-right: 15px;
}

.col2{
  align-items: flex-start;
}

.col2 .button{
  margin-top: 15px;
}

.intereses label{
  font-size: 12px;
}

.formulario label,.sexo,.intereses{
  margin-bottom: 10px;
}

.sexo{
  margin-top: 10px;
}

.tabla{
  margin: 50px 0px;
}

@media screen and (max-width:800px) {
  body{
    background:#247B7B;
    border: 15px solid #142C52;
  }
}
