
body{
  font-family: 'Allerta', sans-serif;                      /*Tipo de letra*/
  margin: 0px;
}
.titulo {
  font-size: 70px;                                       /*Tamaño de letra */
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  margin-top: 70px;
}
.titulo-a{
  font-size: 24px;
}

.title-b{
  font-size: 50px;
  margin-bottom: 20px;
}
.guitarras{
  color: #1F313C;                                          /*Color de letra*/
}

.guitarras h2{
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.portada{
  background-image: url("../imagenes/background.png");     /*Imagen como fondo*/
  color: white;
  padding: 20px;

}
button{
  border-radius: 8px;
  border: none;
  background: #df324e;
  color: white;
  padding: 7px;
}
.portada button{
  margin-bottom: 70px;
}

.menu{
  font-size: 24px;
  display: inline-block;

}

.menu li{
  display: inline-block;
  margin-left: 30px;

}

.logotipo{
  display: inline-block;
}

.header{
  width: 800px;
  margin: auto;
}

.contenedor{
  width: 800px;
  margin: auto;
}

.guitarra {
  margin: 10px;
  padding: 10px;
  /*overflow: hidden;*/                                            /*Ajusta el tamaño de las intercecciones tomando el tamaño mayor para que no que desajustada*/
  border: 1px solid #1F313C;
  border-radius: 8px;                                    /*Para marcar el margen del bloque*/
}

.guitarra ol{
  padding: 0px;
}

.right{
  float: right;
  position: relative;
  top: -127px;                                             /*se utiliza para hacer flotar una clase y ponerla al gusto sin tener que mofidicar el codigo*/
}

.left{
  float: left;
  position: relative;
  top: 80px;
}
.contenedor-guitarra-a{
  padding-left: 20px;
}
.contenedor-guitarra-b{
  margin-left: 370px;
  padding-left: 20;
}

.header{
  position: relative;
}

footer{
  background: #273b47
}


.contacto a{
  color: white;
  text-decoration: none;
}

.contacto img{
  display: block;
}

.contacto strong{
  display: block;
}
