
body{
font-family: 'Allerta', sans-serif;
}
.titulo {
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
}
.titulo-a{
  font-size: 24px;
}

.title-b{
  font-size: 50px;
}
.guitarras{
  color: #1F313C
}

.guitarras h2{
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.portada{
  background-image: url("../imagenes/background.png");
  color: white;
}

.menu{
  font-size: 24px;
}


/*tipo de selecto {
  propiedad: valor;
  propiedad-2:valor;
}*/
/*----"*"para todo en general-----*/
/**{
  border: 1px solid red;
  margin: 10px;
}
/*selector de etiqueta*/
/*header{
  background: #46859E;
}
section{
  background: #567F60;
}
/*selector descendente*/
/*article h3{
  color: orange;*/
/*}
/*selectores de clase "."*/
/*.title-a{
  background: #DC4621;
}
.title-b{
  background: green
}
/*selector de id"#"*/
/*#header{
  border: 4px solid black;
}
#portada{
  border: 4px solid orange;
}
#guitarras{
  border: 4px solid blue;
}*/*/*/*/*/
